@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700&family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@500&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
@theme {
  --color-ink: #1B1B1F;
  --color-paper: #F7F5F1;
  --color-emerald: #234D3B;
  --color-emerald-light: #2F6350;
  --color-gold: #C9A05C;
  --color-wine: #7A2E3B;
  --color-muted: #8A8680;

  --font-display: 'Fraunces', serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-body);
}